:root {
    --iconSize: 32px;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    padding: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.profile-frame .banner {
    width: 100%;
    height: 300px;
    background-image: url("profile.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: blur(5px);
}

.profile-frame .profile-container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-frame .profile-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid white;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-frame .content {
    text-align: center;
    margin-top: 150px;
    font-family: "Raleway", serif;
}

.ExpertiseContainer {
    max-width: 1800px;
    margin: 50px auto;
}

.ExpertiseContainer .frame {
    display: flex;
    border: 1.5px solid black;
}

.ExpertiseContainer div .frame-title {
    flex: 0.5;
    border-right: 1px solid black;
    padding: 20px;
    text-align: center;
    align-content: center;
    font-size: 64px;
    font-family: "Barlow Condensed", serif;
    font-weight: bold;
}

.ExpertiseContainer div .frame-content {
    flex: 2;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Raleway", serif;
}

/* .excellent {
    color: green;
}

.advanced {
    color: blue;
}

.intermediate {
    color: #FF8C00;
}

.basic {
    color: black;
}

.experimental {
    color: gray;
} */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    padding: 20px;
}

.projects {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.projects th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
.projects th {
    background-color: black;
    color: white;
}
.projects tr:nth-child(even) {
    background-color: #f2f2f2;
}

.projects tr .hidden {
    display: none;
}

.projects .project-row {
    cursor: pointer;
}

.projects .project-row:hover {
    background-color: lightgray;
}

.projects caption {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 10px;
}
  /* Custom alignments */
.projects th:nth-child(1), .projects td:nth-child(1) {
    text-align: left; /* Project name */
}
.projects th:nth-child(2), .projects td:nth-child(2) {
    text-align: center; /* Version */
}
.projects th:nth-child(3), .projects td:nth-child(3) {
    text-align: left; /* Description */
}
.projects th:nth-child(4), .projects td:nth-child(4) {
    text-align: left; /* Language */
}
.projects th:nth-child(5), .projects td:nth-child(5) {
    text-align: center; /* Public */
}
.projects th:nth-child(6), .projects td:nth-child(6) {
    text-align: center; /* Level */
}
.projects th:nth-child(7), .projects td:nth-child(7) {
    text-align: left; /* Interface */
}
.projects th:nth-child(8), .projects td:nth-child(8) {
    text-align: left; /* Type */
}

.projects .projects-frame {
    height: 500px;
    overflow: scroll;
}

.details {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.project-info {
    display: flex;
    align-items: center;
}
.project-info img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.project-info .project-name {
    font-size: 1.5em;
    font-weight: bold;
}
.project-info .project-version {
    font-size: 1.1em;
    color: #666;
}

.project-info .project-date {
    font-size: 0.8em;
    color: #666;
}
.project-details {
    margin-top: 20px;
}
.project-details h3 {
    font-size: 1.3em;
    color: #333;
}
.project-details p {
    font-size: 1.1em;
    color: #666;
}
.project-details .screenshots {
    display: flex;
    gap: 15px;
}
.project-details .screenshots img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
}

#searchInput {
    width: 600px;
    padding: 8px 12px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

@media only screen and (max-width: 992px) {
    :root { --iconSize: 120px; }

    body .profile-frame .content h1 { font-size: 65px; }
    body .profile-frame .content h4 { font-size: 40px; }
    body .profile-frame .content p  { font-size: 32px; }
    body .profile-frame .profile-container { top: 160px; }
    body .profile-frame .profile-image { width: 280px; height: 280px; }

    body #contactsicons a { width: var(--iconSize); height: var(--iconSize); }

    body .ExpertiseContainer div .frame-title { font-size: 120px; }
    body .ExpertiseContainer div .frame-content { font-size: 40px; }

    body .projects h1 { font-size: 80px; text-align: center; }
    body .projects h2 { font-size: 60px; text-align: center; }
    body .projects a { font-size: 15px; text-align: center; }
    body .projects p { font-size: 15px; text-align: center; }
    body .projects #searchInput { width: 95%; height: 80px; font-size: 42px; }
    body .projects .projects-frame table,
    body .projects .projects-frame thead,
    body .projects .projects-frame tbody,
    body .projects .projects-frame th,
    body .projects .projects-frame td,
    body .projects .projects-frame .project-row:not(.hidden) { display: block; }
    body .projects .projects-frame thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    body .projects .projects-frame tr { margin: 0 0 1rem 0; }
    body .projects .projects-frame tr:nth-child(even) { background-color: #f2f2f2; }

    body .projects .projects-frame td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid ;
        position: relative;
        padding-left: 50%;
    }

    body .projects .projects-frame td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    body .projects .projects-frame { height: 1800px; }
    body .projects .projects-frame tr { border-bottom: 5px black solid; }
    body .projects .projects-frame td { text-align: left; align-content: center; font-size: 24px; }
    body .projects .projects-frame td:before { text-align: left; align-content: center; font-size: 32px; font-weight: bold; }
    body .projects .projects-frame td:nth-of-type(1):before { content: "Project Name:"; }
	body .projects .projects-frame td:nth-of-type(2):before { content: "Date:"; }
	body .projects .projects-frame td:nth-of-type(3):before { content: "Latest Version:"; }
	body .projects .projects-frame td:nth-of-type(4):before { content: "Description:"; }
	body .projects .projects-frame td:nth-of-type(5):before { content: "Language:"; }
	body .projects .projects-frame td:nth-of-type(6):before { content: "Public:"; }
	body .projects .projects-frame td:nth-of-type(7):before { content: "Level:"; }
	body .projects .projects-frame td:nth-of-type(8):before { content: "Interface:"; }
	body .projects .projects-frame td:nth-of-type(9):before { content: "Type:"; }

    body .projects .projects-frame .hidden { display: none; }
}