:root {
    --iconSize: 32px;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    padding: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.profile-frame .banner {
    width: 100%;
    height: 300px;
    background-image: url("profile.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: blur(5px);
}

.profile-frame .profile-container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-frame .profile-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid white;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-frame .content {
    text-align: center;
    margin-top: 150px;
    font-family: "Raleway", serif;
}

.ExpertiseContainer {
    max-width: 1800px;
    margin: 50px auto;
}

.ExpertiseContainer .frame {
    display: flex;
    border: 1.5px solid black;
}

.ExpertiseContainer div .frame-title {
    flex: 0.5;
    border-right: 1px solid black;
    padding: 20px;
    text-align: center;
    align-content: center;
    font-size: 64px;
    font-family: "Barlow Condensed", serif;
    font-weight: bold;
}

.ExpertiseContainer div .frame-content {
    flex: 2;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Raleway", serif;
}

/* .excellent {
    color: green;
}

.advanced {
    color: blue;
}

.intermediate {
    color: #FF8C00;
}

.basic {
    color: black;
}

.experimental {
    color: gray;
} */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    padding: 20px;
}

.tabulator-row {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    :root { --iconSize: 120px; }

    body .profile-frame .content h1 { font-size: 65px; }
    body .profile-frame .content h4 { font-size: 40px; }
    body .profile-frame .content p  { font-size: 32px; }
    body .profile-frame .profile-container { top: 160px; }
    body .profile-frame .profile-image { width: 280px; height: 280px; }

    body #contactsicons a { width: var(--iconSize); height: var(--iconSize); }

    body .ExpertiseContainer div .frame-title { font-size: 120px; }
    body .ExpertiseContainer div .frame-content { font-size: 40px; }
}